@import url("http://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
}


.form {
    padding: 50px 50px 20px 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 20px;
    background-color: #FAD4D4;
    border-width: 3px;
    height: max-content;
    width: -webkit-max-content;
    width: max-content;
    gap: 15px;
}

.form-contents input {
    display: block; 
    margin-bottom: 10px; 
    border-radius: 9.28px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    background: #FFD1DA;
    margin: 10px 0 15px 0;
    position: relative;
    font-size: 17px;
}


.form-contents input {
    display: block; 
    margin-bottom: 10px; 
    border-radius: 9.28px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    background: #FAEFEF;
    margin: 10px 0 15px 0;
    position: relative;
    font-size: 17px;
}

.remember-forgot {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: auto;
    white-space: nowrap; 
}

.remember-forgot label {
    display: flex;
    align-items: center;
    width: -webkit-max-content;
    width: max-content;
    width: 10px;
}

.remember-forgot input[type="checkbox"] {
    margin: 1.4px 5px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.remember-forgot p {
    width: auto;
}

.already-have {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.already-have p {
    margin-right: 10px;
    margin-left: 40px;
}

.already-have a {
    white-space: nowrap;
}


.form-contents .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #ef9f9fbe;
    color: #FFF2F2;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
    width: 100%;
    margin: 30px 0 30px 0px;
    border-radius: 9px;
    border-style: none;   
    font-size: 15px;
    color: rgba(0, 0, 0, 0.675);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.form-contents .btn:hover {
    background-color: #F47C7C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: black;
}

.form-contents .register-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #302f2f57;
}

.form-contents .register-link::before,
.form-contents .register-link::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 35%;
    height: 0.5px;
    background-color: #302f2f57;
    transform: translateY(-50%);
}

.form-contents .register-link::before {
    left: 3%;
}

.form-contents .register-link::after {
    right: 3%;
}

.form-contents .social-media-icons {
    display: flex;
    justify-content: center;
  }
  
.form-contents .social-media-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 60px;
    padding: 10px 0 0 0;
    margin: 10px 5px;
}
  
.form-contents .social-media-icons svg {
    width: 120%;
    height: 120%;
}


.text-field{
    position: relative;
}

.text-field i{
    position: absolute;
    transform: translateY(-50%);
    left: 10px;
    top: 50%;
    z-index: 2;
}

.text-field input{
    padding-left: 30px;
    border: 0.1px solid #FFD1DA;
}

.tabs {
    border: 1px solid #FFD1DA;
    border-radius: 12px;
    overflow: hidden;
    gap: 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
  
.tab {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFF2F2;
    cursor: pointer;
    margin: 0;
    gap: 0;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
  
.tab.active {
    background-color: #EF9F9F;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
    
.tab:hover {
    background-color: #F47C7C;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}